<% /* エラー表示画面 */ %>
<% layout('layout') %>

<p class="main-title">予期せぬエラーが発生しました</p>
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
<a href="/" class="btn"><p>トップへもどる</p></a>
