<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<link rel='stylesheet' href='/stylesheets/style.css'>
</head>
<body>
	<header>
		<a class="top" href="/">ToDo List</a>
		<a class="search" href="/search">search *</a>
	</header>
	<div class="wrapper">
    <%- body %>
	</div>
</body>
</html>
